@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
.site-title,
.site-description {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute
}
@media screen and (max-width: 600px) {
html{margin: 0!important;}
.home #wpadminbar{display:none!important;}
.menu-menu-1-container{background: #c63025; width: 80%; box-shadow: -2px 1px 3px #333; float:right; right: -1px;}
.menu-menu-1-container ul{list-style: none; height: 100%; margin: 0px;}
.menu-menu-1-container .menu {margin:80px 5px 200px;}
.menu-menu-1-container ul li{ font-size: 18px; padding: 0;border-top: solid 1px #8a1c12; }
.menu-menu-1-container ul li a{color: #fff; text-decoration:none; display: block; width: 100%;padding: 10px 0px 10px 10px;-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear; }
.menu-menu-1-container ul li a:hover{background: #8a1c12;}
body.home .site{ min-height: 90px; }
}
.home {
    background: #fff ;
    margin: 0;
    max-width: 100%;
    min-width: 250px;
    padding: 0;
    position: relative
}
#main {
    overflow: visible;
    padding: 0 20px
}
#primary {
    margin: 0;
    padding:30px 0 65px !important;
    position: relative;
    width: 100%
    background:#fff;
    border-bottom: solid 1px #e8e8e8;

}
body.home #primary {
    margin: 0;
    padding: 40px 0 0
}
body.home #primary::before {
    background-color: #fff;
    color: #c63025;
    content: 'Noticias';
    display: inline-block;
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 34px;
    padding: 0 40px 0 0;
    left: 0;
    top: -30px;
    position: relative;
    text-transform: uppercase;
    z-index: 2
}
body.home #primary::after {
    background-color: #e8e8e8;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    top: 17px;
    position: absolute;
    width: 100%;
    z-index: 1
}
#secondary {
    margin: 165px 0 0;
    padding: 75px 0 0;
    width: 100%;
    background: #fff;
}
body.home #secondary {
    margin: 0;
    padding: 0
}
body.single-attachment #primary,
body.full-width #primary {
    width: 100%;
    padding: 0
}
#colophon {
    border: none;
    color: #fff;
    margin: 0 auto;
    text-align: right;
    background: #c63025;
    max-width: 100%;
    padding: 0
}
footer[role="contentinfo"] a {
    color: #fff;
    transition: all .5s ease
}
footer[role="contentinfo"] a:hover {
    color: rgba(255, 255, 255, 0.65)
}
.site-info {
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 16px;
    line-height: 89px;
    margin: 0 auto;
    max-width: 1470px;
    padding: 0 80px
}
.site-info a {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 5px;
}
.site-info::after {
    content: "WordCamp Costa Rica / 5 de noviembre, 2016"
}
.site-header {
    background-color: rgba(255,255,255,.8);
    height: 89px;
    padding: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top:30px;
    box-shadow:-1px 1px 2px #666;
}
.main-navigation {
    margin: 0 auto;
    max-width: 1470px;
    padding: 0 80px;
    text-align: center
}
.menu-primary-menu-container::after {
    content: '';
    clear: both;
    display: block
}
.main-navigation ul.nav-menu {
    float: right;
    width: auto
}
.main-navigation ul{
    float: right;
    width: auto
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
    border: none
}
.main-navigation li {
    margin: 0
}
.main-navigation li a {
    color: #000;
    font-size: 16px;
    font-family: 'Libre Franklin', sans-serif;;
    letter-spacing: 1px;
    line-height: 89px;
    padding: 0 0 0 10px
}
.main-navigation li a::after {
    content: '/';
    padding: 0 0 0 13px
}
.main-navigation li.entradas a::after,
.main-navigation li.organizadores a::after {
    content: '';
    padding: 0
}
.main-navigation li.organizadores a::after {
    padding-right: 20px
}
.main-navigation li.entradas a::before {
    font-family: 'FontAwesome';
    content: '\f145';
    color: #fff;
    font-size: 1.4em;
    margin-right: 10px
}
.main-navigation li.entradas a {
    background: rgba(0, 0, 0, 0.05);
    padding-left: 25px;
    padding-right: 25px
}
.main-navigation li.entradas a:hover {
    background: rgba(0, 0, 0, 0.1)
}
.main-navigation li.social {
    margin: 0 2px
}
.main-navigation li.social a {
    padding: 0;
    text-indent: -9999px;
    transition: none
}
.main-navigation li.twitter a {
    background: transparent url('https://2015.buenosaires.wordcamp.org/files/2015/03/logo-twitter.png') no-repeat;
    background-position: right center;
    background-size: 16px 16px;
    margin: 0 0 0 8px;
    width: 19px
}
.main-navigation li.twitter a:hover {
    background-position: left center
}
.main-navigation li.facebook a {
    background: transparent url('https://2015.buenosaires.wordcamp.org/files/2015/03/logo-facebook.png') no-repeat;
    background-position: right center;
    background-size: 16px 16px;
    width: 15px
}
.main-navigation li.facebook a:hover {
    background-position: left center
}
.main-navigation li.social a::after {
    content: '';
    padding: 0
}
.main-navigation li a:hover {
    color: #cf3e31;
    text-decoration:none; 
}
.main-navigation li ul li a {
    background-color: #fff;
    border-bottom: solid 1px #e8e8e8;
    color: #c63025 !important;
    font-size: 14px
}
.main-navigation li ul li a::after {
    content: '';
    padding: 0
}
.main-navigation li ul li a:hover {
    background-color: #cf3e31;
    color: #333 !important
}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
    color: #cf3e31;
    font-weight: 400
}
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle,
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active {
    background: none;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    line-height: 48px;
    outline: none;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    transition: all .5s ease;
}
.main-navigation ul.nav-menu.toggled-on:hover,
.menu-toggle:hover,
.menu-toggle:focus {
    background: none;
    background-image: none;
    border: none;
    border-radius: 0;
    color: rgba(255, 255, 255, 0.65);
    outline: none
}
.main-navigation ul ul{top:4.5em; right: 0!important;}
.main-navigation ul ul a{width: 220px; line-height: 50px;}
.single-author .entry-meta .by-author {
    display: inline
}
.home .sep{display: none;}
body.template-front-page #page #main {
    background-color: #fff;
    padding-top: 20px
}
body.template-front-page #page .site-content {
    float: left;
    width: 58%
}
body.template-front-page #page .widget-area {
    border: none;
    clear: none;
    float: right;
    padding: 0 2% 0 0;
    width: 32%
}
#page #text-5 {
    background: #F6F6F6;
    display: none;
    float: none;
    height: 400px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 500px;
    width: 100%;
    margin: 0
}
body.home #page #text-5 {
    display: block
}
#page #text-5 .textwidget {
    max-width: 982px;
    margin: 0 auto
}
#page #text-5 .textwidget::after {
    content: '';
    clear: both;
    display: block
}
#page #text-5 .header-widget {
    background: none;
    border-radius: 0;
    box-shadow: none;
    clear: none;
    float: left;
    padding: 40px 0 0;
    text-align: center;
    width: 33.33%
}
#page #text-5 .header-widget-inner {
    padding: 160px 30px 0;
}
#page #text-5 .textwidget {
    padding: 0
}
#page #text-5 .dev-widget .header-widget-inner {
    background: transparent url('http://2016.sanjose.wordcamp.org/files/2016/08/wordcamp-dev.png') no-repeat top center;
    background-size: 145px 141px
}
#page #text-5 .blogger-widget .header-widget-inner {
    background: transparent url('http://2016.sanjose.wordcamp.org/files/2016/08/wordcamp-blogger.png') no-repeat top center;
    background-size: 145px 141px
}
#page #text-5 .ux-widget .header-widget-inner {
    background: transparent url('http://2016.sanjose.wordcamp.org/files/2016/08/wordcamp-ux.png') no-repeat top center;
    background-size: 145px 141px
}
#page #text-5 .header-widget h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase
}
#page #text-5 .header-widget a {
    color: #c63025;
    text-decoration: none;
    transition: all .5s ease
}
#page #text-5 .header-widget a:hover {
    color: #333;
    text-decoration: none
}
#page #text-5 .header-widget p {
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 14px;
    line-height: 18px
}
#page #text-4 {
    background: url("https://2015.buenosaires.wordcamp.org/files/2015/05/wcba15-fotobsas2.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: none;
    float: none;
    height: 460px;
    padding: 80px 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 89px;
    width: 100%;
    margin: 0
}
body.home #page #text-4 {
    display: block
}
#page #text-4 .textwidget {
    line-height: 0
}
#page #text-4 #home-logo {
    margin: 115px 0 114px
}
#page #text-4 #register-widget {
    background-color: #ebebeb;
    height: 175px;
    line-height: 20px;
    padding: 60px 0 0
}
#page #text-4 #register-widget h2 {
    color: rgba(255, 255, 255, 0.65);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 0 0 20px;
    text-transform: uppercase
}
#page #text-4 #register-widget .button {
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 14px;
    padding: 15px 25px;
    text-transform: uppercase;
    transition: all .5s ease
}
#page #text-4 #register-widget .button:hover {
    background-color: #c63025;
    color: #fff;
    text-decoration: none
}
#page #text-4 .header-widget-inner {
    padding: 120px 20px 0
}
#page #text-4 .textwidget {
    padding: 0
}
#page .widget.wcb_widget_sponsors {
    background: #fff
}
#page .widget.wcb_widget_sponsors .sponsor-level {
    margin-bottom: 20px
}
#page .widget.wcb_widget_sponsors .sponsor-level h4 {
    margin-bottom: 20px;
    color: #444
}
#page .widget.wcb_widget_sponsors .sponsor-level img {
    margin-bottom: 10px
}
body {
   
    color: #1f3542;
    font-family: 'Roboto', sans-serif
}
a,
a:visited {
    color: #2d168a;
    text-decoration: none
}
a:hover {
    color: #2d168a;
    text-decoration: underline
}
#page .entry-header,
#page .archive-header {
    border: none;
    text-align: left;
    padding: 5px 0 0;
    height: 45px;
    margin: 0
}
.entry-header .comments-link {

}
#page .archive-header {
    margin: 0 0 75px
}
#page .entry-title,
#page .archive-title {
    display: inline-block;
    margin: 0;
    position: relative
}
.entry-header .entry-title a{font-size: 22px!important;
    color: #fff;
    transition: all .5s ease
}
.entry-header .entry-title a:hover {
    color: #eee
}
.entry-header .entry-meta{color:#fff;}
.entry-header .entry-meta a{color:#eee;}
body.archive .archive-header .archive-title a {
    color: #fff;
    transition: all .5s ease
}
body.archive .archive-header .archive-title a:hover {
    color: #fff
}
body.page-template-full-width #page .entry-header {
    height: auto;
    text-align: center;
    padding: 58px 0
}

body.page-template-full-width #page .entry-title:before,
body.page-template-full-width #page .entry-title:after {
    content: "";
    position: absolute;
    top: 24px;
    height: 15px;
    width: 65px;
    background: url("https://2015.buenosaires.wordcamp.org/files/2015/05/wcba-misc.png") no-repeat;
    background-size: contain
}
body.page-template-full-width #page .entry-title:before {
    right: 100%;
    margin-right: 15px
}
body.page-template-full-width #page .entry-title:after {
    left: 100%;
    margin-left: 15px
}
body.blog #page .entry-header,
body.archive #page .entry-header {
    height: auto;
    padding: 0;
    margin: 0 0 20px;
    text-align: left
}

body.blog .entry-content,
body.archive .entry-content {
    margin: 0;
    padding: 0
}
.entry-content a,
.comment-content a,
.entry-content a:visited,
.comment-content a:visited {
    color: #c63025;
    text-decoration: underline
}
.entry-content a:hover,
.comment-content a:hover {
    color: #333;
    text-decoration: none
}
#page .more-link {
    background-color: #cf3e31;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 14px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease
}
#page .more-link:hover {
    background-color: #c63025;
    color: #fff;
    text-decoration: none
}
#page h1 {
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase
}
h2 {
    font-family: 'Libre Franklin', sans-serif;;
    font-weight: 600
}
.entry-content h2 {
    color: #c63025;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase
}
.entry-content h2 a,
.entry-content h2 a:hover,
.entry-content h2 a:visited {
    color: #c63025
}
h3 {
    font-family: 'Libre Franklin', sans-serif;;
    font-weight: 600
}
h4 {
    font-family: 'Libre Franklin', sans-serif;;
    font-weight: 700
}
#page h4 {
    color: #43ad8e;
    font-size: 15px;
    text-transform: uppercase
}
.entry-content h4 {
    margin: 20px 0 5px
}
hr {
    background-color: #cac9c5;
    border: 0;
    height: 1px;
    margin: 40px 0 50px
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    border-radius: 0;
    box-shadow: none;
    height: auto
}
img.alignleft {
    margin: 0 24px 12px 0;
    margin: 0 1.714285714rem .857142857rem 0;
    margin: 0 24px 12px 0;
    margin: 0 1.714285714rem .857142857rem 0
}
img.alignnone {
    margin: 0 0 12px;
    margin: 0 0 .857142857rem
}
.site-content {
    margin: 2rem 0 0
}
.widget-area {
    margin: 2rem 0 0
}
.entry-header h1 a {
    display: block
}
.entry-header h1 a:hover {
    color: #444
}
body.page .site-content article,
body.single-wcb_session .site-content article {
    border: none !important;
    margin: 0;
    padding: 0
}
body.blog .site-content article,
body.error404 .site-content article,
body.archive .site-content article {
    border-bottom: solid 1px #e8e8e8;
    margin: 0 0 40px;
    padding: 0 0 40px
}
body.blog .site-content article:last-of-type,
body.error404 .site-content article:last-of-type,
body.archive .site-content article:last-of-type {
    border: none;
    padding: 0
}
body.single .site-content article {
    border-bottom: solid 1px #e8e8e8;
    margin: 0 0 40px;
    padding: 0 0 40px
}
body.blog .comments-link {
    display: none
}
.blog-archive {
    width: 75%
}
.blog-archive ul {
    border-top: solid 1px #ddd;
    list-style-type: none
}
.blog-archive li {
    border-bottom: solid 1px #ddd;
    margin: 0;
    padding: 0
}
.blog-archive li a {
    display: block;
    padding: 3px 10px;
    -webkit-transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    -o-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in
}
.blog-archive li a:hover {
    background-color: #f3f3f3;
    text-decoration: none
}
#page footer.entry-meta {
    margin-top: 24px;
    font-size: 14px;
    line-height: 18px;
    color: #c63025;
    font-family: 'Libre Franklin', sans-serif;;
    font-weight: 500
}
#page footer.entry-meta a {
    color: #c63025;
    text-decoration: underline
}
#page footer.entry-meta a:hover {
    color: #c63025;
    text-decoration: none
}
body.page-template-default #page footer.entry-meta,
body.page-template-page-templatesfull-width-php #page footer.entry-meta {

}
.edit-link {
    display: none
}
.featured-post {
    display: none
}
.entry-content {
    font-size: 14px;
    padding: 75px 0
}
body.single .entry-content {
    padding: 60px 0 0
}
.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    line-height: 1.94285714
}
.entry-content p:last-of-type,
.entry-summary p:last-of-type,
.comment-content p:last-of-type,
.mu_register p:last-of-type {
    margin: 0
}
.site-content nav {
    margin: 0 0 50px
}
.nav-previous {
    float: left;
    width: 49%
}
.nav-next {
    float: right;
    text-align: right;
    width: 49%
}
.nav-previous a,
.nav-next a {
    color: #c63025;
    padding: 0;
    display: block;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif
}
.nav-previous a:hover,
.nav-next a:hover {
    color: #333;
    background: none;
    text-decoration: none
}
.form-allowed-tags {
    display: none
}
#secondary .widget {
    background: #f2f2f2;
    margin: 0 0 50px;
    padding: 0
}
.widget-title {
    color: #c63025;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: solid 1px #c9cac5
}
#page .widget .textwidget {
    padding: 0 40px 10px
}
.widget h5 {
    color: #c63025;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    margin: 50px 0 30px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase
}
#page .widget h5 a {
    color: #c63025;
    text-decoration: none
}
#page .widget h5 a:hover {
    color: #333;
    text-decoration: none
}
#page .widget_text img {
    border-radius: 0;
    box-shadow: none;
    float: none;
    margin: 0
}
#page .widget_text,
#page .widget_text p {
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
}
#page .widget_text a {
    color: #2d168a
}
#page .widget_text a:hover {
    color: #2d168a
}
#page .widget_text #buddycamp-header {
    display: block;
    margin: -30px auto 20px
}
.sponsor-logo {
    text-align: center
}
#page .widget_text .widget-link {
    font-weight: 700;
    margin: 0 0 5px;
    text-align: center
}
.table-legend {
    width: auto !important
}
.t-gen {
    background-color: #e2e2e2
}
.t-dev1 {
    background-color: #e2e9f1
}
.t-dev2 {
    background-color: #b8f0df
}
.t-des {
    background-color: #cdc7ed
}
.t-row {
    text-align: center
}
.entry-content th,
.entry-content td {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 6px 10px
}
.entry-content table,
.comment-content table {
    border-bottom: none
}
#page .nav-single + .comments-area,
#page #comment-nav-above {
    margin: 30px 0
}
table a {
    color: #636363 !important;
    text-decoration: underline
}
table a:hover {
    color: #636363 !important;
    text-decoration: none
}
.wcorg-sponsors > div {
    border-bottom: 1px solid #ededed;
    margin-bottom: 25px;
    overflow: hidden;
    padding-bottom: 25px
}
article.type-wcb_sponsor header.entry-header img {
    display: none
}
.wcorg-sponsor-description img {
    float: right;
    max-width: 33.33%;
    margin: 0 0 20px 20px
}
body.page-template-page-templatesfull-width-php .entry-content .sponsor-logo {
    float: left;
    height: 120px;
    margin: 0;
    padding: 2% 4%;
    width: 25%
}
body.single-wcba_sponsor #page .entry-header,
#page .archive-header {
    padding: 58px 0;
    height: auto
}
body.single-wcba_sponsor #page .entry-header h1,
#page .archive-header h1 {
    font-size: 48px;
    line-height: 49px
}
body.single-wcba_sponsor .entry-content ul {
    border-top: solid 1px #ddd;
    display: inline-block;
    list-style-type: none
}
body.single-wcba_sponsor .entry-content li {
    border-bottom: solid 1px #ddd;
    margin: 0;
    padding: 3px 10px
}
body.single-wcba_sponsor footer.entry-meta {
    display: none
}
body.single-wcba_sponsor .site-content article {
    border: none;
    margin: 0;
    padding: 0
}
body.single-wcba_sponsor .site-content nav {
    display: none
}
.wcorg-speaker {
    border-bottom: solid 1px #cac9c5;
    margin: 0 0 30px
}
.wcorg-speaker:last-child {
    border-bottom: none
}
.wcorg-speaker-description {
    min-height: 100px
}
.wcorg-speaker img {
    border-radius: 100%;
    float: left;
    margin: 0 30px 30px 0
}
.wcorg-speaker p {
    margin: 0 0 30px
}
.speaker-avatar {
    float: right
}
.speaker-avatar img {
    border-radius: 100%
}
.wcorg-speaker p {
    margin: 0 0 30px
}
.wcorg-speaker .social {
    margin-right: 5px
}
.wcorg-speaker .social + br {
    display: none
}
article.type-wcb_speaker .entry-content h2 {
    clear: none;
    margin-top: 0
}
.wcorg-organizer {
    margin: 0 1%;
    padding: 0 15px 30px 0;
    float: left;
    width: 48%;
    box-sizing: border-box
}
.wcorg-organizer:last-child {
    border-bottom: none
}
.wcorg-organizer-description {
    min-height: 100px
}
.wcorg-organizer img {
    border-radius: 100%;
    float: left;
    margin: 0 30px 30px 0
}
.wcorg-organizer p {
    margin: 0 0 30px
}
.wcorg-session {
    border-bottom: solid 1px #cac9c5;
    margin: 0 0 30px
}
.wcorg-session:last-child {
    border-bottom: none
}
.wcorg-session p {
    margin: 0 0 30px
}
.wcorg-session h2 {
    margin-bottom: 0
}
.wcpt-session-meta {
    font-size: 12px
}
body.single-wcb_session footer.entry-meta {
    display: none
}
body.single-wcb_session .nav-single {
    display: none
}
#tix-attendees .avatar {
    border-radius: 100%
}
#tix-attendees .tix-columns-3 li {
    margin: 0 2% 2%;
    width: 29%
}
#tix-attendees .tix-columns-3::after {
    content: '';
    clear: both;
    display: block
}
table.tix_tickets_table th {
    font-size: 1.1em
}
table.tix_tickets_table th.tix-column-quantity,
table.tix_tickets_table th.tix-column-remaining {
    width: 80px
}
table.tix_tickets_table th.tix-column-remaining,
table.tix_tickets_table td.tix-column-remaining {
    display: none
}
.tix-ticket-title {
    font-size: 1.3em
}
.site-info a {
    text-decoration: none
}
@media screen and (max-width: 1500px) {
    .menu-primary-menu-container::before {
        background: transparent;
        background-size: 174px 36px;
        height: 36px;
        margin: 26px 0 0;
        width: 174px
    }
}
@media screen and (max-width: 1250px) {
    .main-navigation,
    .site-info {
        padding: 0 40px
    }
    .main-navigation li a {
        font-size: 14px;
        padding: 0 0 0 4px
    }
    .main-navigation li a::after {
        padding: 0 0 0 8px
    }
    .main-navigation li.twitter a {
        margin: 0 0 0 4px
    }
}
@media screen and (max-width: 1000px) {
    .menu-primary-menu-container::before {
        display: none
    }
}
@media screen and (max-width: 900px) {
    .site {
        background-size: 1001px 103px
    }
    body.home .site {
        background-size: 1001px 338px
    }
    #page #text-4 {
        height: 527px
    }
    #page #text-4 #home-logo {
        margin: 60px 0;
        max-width: 300px
    }
    #page #text-4 #register-widget {
        height: 159px;
        padding: 30px 0 0
    }
    #page #text-5 {
        height: 281px;
        top: 616px
    }
    #page #text-5 .header-widget {
        padding: 40px 0 0
    }
    .main-navigation li a {
        line-height: 45px
    }
    .site {
        margin: 0;
        max-width: 100%;
        overflow: hidden
    }
    
    body.home #main {
        margin: 860px auto 0
    }
    body.page-template-full-width #page .entry-header {
        padding: 33px 0;
        overflow: hidden
    }
    body.page-template-full-width #page .entry-header h1 {
        font-size: 32px;
        line-height: 38px
    }
    body.page-template-full-width #page .entry-title:before,
    body.page-template-full-width #page .entry-title:after {
        top: 19px
    }
    #page .entry-header,
    #page .archive-header {
        padding: 14px 0 0;
        height: 89px
    }
 
    .entry-content {
        padding: 50px 0
    }
    #secondary {
        margin: 103px 0 0;
        padding: 50px 0 0
    }
    body.single .entry-content {
        padding: 50px 0 0
    }
    .menu-primary-menu-container {
        background: none;
        padding: 0
    }
    #text-5 {
        display: none
    }
    body.template-front-page #page #main {
        background: none;
        background-color: #fff;
        padding-top: 0
    }
    .first.front-widgets {
        display: none
    }
    body.page-template-page-templatesfull-width-php .entry-content .sponsor-logo {
        width: 42%
    }
    body.template-front-page #page #primary,
    #primary {
        float: none;
        padding-bottom: 30px;
        width: auto
    }
    body.template-front-page #page #secondary,
    #secondary {
        float: none;
        margin: 0;
        padding: 0 4%;
    }

    .site-content nav {
        margin: 0
    }
    body.single-wcba_sponsor #page .entry-header,
    #page .archive-header {
        padding: 33px 0;
        height: auto
    }
    body.single-wcba_sponsor #page .entry-header h1,
    #page .archive-header h1 {
        font-size: 32px;
        line-height: 38px
    }
    #tix-attendees .tix-columns-3 li {
        width: 46%
    }
    .wcorg-organizer {
        width: 100%;
        float: none
    }
}
@media screen and (max-width: 600px) {
    .site {
        background: #fff url('Costa-Rica-San-Jose-View.jpg') no-repeat 0 48px;
        background-size: 1001px 103px
    }
    body.home .site {
        background: #fff url('https://2016.sanjose.wordcamp.org/files/2016/08/Costa-Rica-San-Jose-View.jpg') no-repeat 0 48px;
        background-size: 1001px 338px
    }
    #page #text-4 {
        top: 48px
    }
    #page #text-4 #home-logo {
        margin: 74px 0;
        max-width: 260px
    }
    #page #text-4 #register-widget h2 {
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 10px
    }
   
    body.home #main {
        margin: 590px auto 0
    }

    body.page-template-full-width #page .entry-header h1 {
        font-size: 24px;
        line-height: 36px
    }
    body.page-template-full-width #page .entry-title:before,
    body.page-template-full-width #page .entry-title:after {
        top: 18px
    }
    #page .entry-header h1,
    #page .archive-header h1 {
        font-size: 18px;
        line-height: 20px
    }
    .main-navigation {
        padding: 0
    }
    .main-navigation li a {
        display: block;
        line-height: 38px;
        text-decoration: none
    }
    .main-navigation li a::after {
        display: none
    }
    .main-navigation li.social {
        margin: 0 5px;
        display: inline-block
    }
    .site-info {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        padding: 15px
    }
    .site-info a {
        float: none;
        display: block
    }
    .nav-next,
    .nav-previous {
        display: block;
        float: none;
        width: 100%
    }
    .nav-previous {
        margin: 0 0 10px
    }
    .site-content nav {
        margin: 0
    }
    body.home #page #text-5 {
        display: none
    }
    .main-navigation li ul li a {
        background: none;
        border: none;
        color: #fff !important
    }
    .main-navigation li ul li a:hover {
        background: none;
        color: rgba(255, 255, 255, 0.65) !important
    }
    body.page-template-page-templatesfull-width-php .entry-content .sponsor-logo {
        float: none;
        width: 84%
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block
    }
    .entry-content .t-key th {
        display: inline;
        font-size: 9px;
        padding: 10px 5px
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    td {
        border: none;
        position: relative;
        padding-left: 50%
    }
    .entry-content .t-biz,
    .entry-content .t-dev1,
    .entry-content .t-dev2,
    .entry-content .t-des,
    .entry-content .t-gen {
        padding: 27px 10px 6px
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 10px;
        width: auto;
        text-transform: uppercase;
        padding-right: 10px;
        white-space: nowrap
    }
    #wordcamp-schedule td:nth-of-type(2):before {
        content: "Schulze Auditorium"
    }
    #wordcamp-schedule td:nth-of-type(3):before {
        content: "Thornton Auditorium"
    }
    #wordcamp-schedule td:nth-of-type(4):before {
        content: "Opus Hall Room 201"
    }
    #wordcamp-schedule td:nth-of-type(5):before {
        content: "Opus Hall Room 202"
    }
    #wordcamp-schedule td.t-row:before {
        content: ""
    }
    #business-summit-schedule td:nth-of-type(2):before {
        content: "Schulze Auditorium"
    }
    #business-summit-schedule td.t-row:before {
        content: ""
    }
    #tix td.tix-column-price,
    #tix td.tix-column-remaining,
    #tix td.tix-column-quantity {
        padding-top: 25px
    }
    #tix td:before {
        color: #636363;
        font-size: 11px;
        font-size: .785714286rem;
        line-height: 2.181818182;
        font-weight: 700
    }
    #tix td.tix-column-price:before {
        content: "Precio"
    }
    #tix td.tix-column-remaining:before {
        content: "Remanente"
    }
    #tix td.tix-column-quantity:before {
        content: "Cantidad"
    }
    body.single-wcb_sponsor #page .entry-header h1,
    #page .archive-header h1 {
        font-size: 24px;
        line-height: 36px
    }
    #tix-attendees .tix-columns-3 li {
        margin: 0 0 2%;
        width: 100%;
        float: none
    }
}
@media screen and (min-width: 900px) {
    body .site {
        box-shadow: none;
        margin: 0;
        padding: 0
    }
    #main {
        max-width: 1120px;
        overflow: hidden
        margin:0 auto;
    }
    body.home #main {
        margin: 860px auto 0
    }
    .menu-primary-menu-container {
        background: transparent url('https://2015.buenosaires.wordcamp.org/files/2015/03/wcba-logo-web2.png') no-repeat top left;
        padding: 0
    }
}
@media screen and (min-width: 1100px) {
    body .site {
        margin: 0;
        padding: 0
    }
    #main {
        padding: 0
    }
}
@media screen and (min-width: 1600px) {
    .site,
    body.home .site {
        background-size: contain
    }
}
article.page .entry-content {
    padding: 5px 30px 15px
}
body.single-post .site-content article,
body.single-wcb_speaker .site-content article,
body.single-wcb_session .site-content article {
    padding: 20px 0 15px
}
body.single-wcb_session .entry-content {
    margin-top: 40px
}
body.single-wcb_speaker h2.speaker-sessions {
    padding: 25px 0 0
}
.single-wcb_speaker .entry-meta {
    display: none
}
.wcorg-speakers .wcorg-speaker a.social,
.single-wcb_speaker a.social {
    display: inline-block;
    clear: both;
    margin: 0 0 7px;
    padding: 0 0 0 21px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 2px;
    line-height: 18px
}
.wcorg-speakers .wcorg-speaker a.social.website,
.single-wcb_speaker a.website {
    background-image: url("https://2015.buenosaires.wordcamp.org/files/2015/04/website.png")
}
.wcorg-speakers .wcorg-speaker a.social.facebook,
.single-wcb_speaker a.social.facebook {
    background-image: url("https://2015.buenosaires.wordcamp.org/files/2015/04/facebook.png")
}
.wcorg-speakers .wcorg-speaker a.social.twitter,
.single-wcb_speaker a.social.twitter {
    background-image: url("https://2015.buenosaires.wordcamp.org/files/2015/04/twitter.png")
}
.wcorg-speakers .wcorg-speaker a.social.googleplus,
.single-wcb_speaker a.social.googleplus {
    background-image: url("https://2015.buenosaires.wordcamp.org/files/2015/04/googleplus.png")
}
.wcorg-speakers .wcorg-speaker a.social.linkedin,
.single-wcb_speaker a.social.linkedin {
    background-image: url("https://2015.buenosaires.wordcamp.org/files/2015/04/linkedin.png")
}
.wcorg-speakers .wcorg-speaker a.social.instagram,
.single-wcb_speaker a.social.instagram {
    background-image: url("https://2015.buenosaires.wordcamp.org/files/2015/04/instagram.png")
}
.wcorg-speakers .wcorg-speaker a.social.pinterest,
.single-wcb_speaker a.social.pinterest {
    background-image: url("https://2015.buenosaires.wordcamp.org/files/2015/04/pinterest.png")
}
.wcorg-speakers .wcorg-speaker .wcorg-speaker-description {
    margin-bottom: 30px
}
.wcorg-speakers .wcorg-speaker .wcorg-speaker-description h2 {
    display: none
}
.wcorg-speakers .wcorg-speaker img {
    float: right;
    margin: 0 0 30px 30px
}
.entry-content p + iframe {
    margin-top: 24px;
    margin-top: 1.714285714rem
}
th.wpct-col-time {
    text-indent: -1000000px !important
}
table.wcpt-schedule td {
    border: 1px solid #ddd !important
}
table.wcpt-schedule th {
    background: #c63025;
    border: 1px solid #c63025 !important;
    color: #fff
}
table.wcpt-schedule td a {
    text-decoration: none
}
span.wcpt-session-speakers {
    display: block
}
span.wcpt-session-speakers a {
    color: #c63025 !important
}
a.wcpt-session-title {
    text-decoration: none
}
td.wcpt-time,
tr.wcpt-time-900am td,
tr.wcpt-time-945am td,
tr.wcpt-time-1120am td,
tr.wcpt-time-100pm td,
tr.wcpt-time-330pm td,
tr.wcpt-time-425pm td,
tr.wcpt-time-520pm td {
    background: #eee;
    font-weight: 700
}
td.wcb-track-sala-1,
td.wcb-track-sala-2 {
    width: 40%
}
.widget a.sponsor-logo {
    margin-bottom: 20px
}
#page .type-wcb_session > header {
    margin: 0;
    padding: 0;
    position: relative
}
#page .type-wcb_session > header h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
ul#session-speaker-names li {
    padding: 0;
    margin: 0
}
.type-wcb_session .slides div {
    display: none
}
#after-header-widgets .widget{background-color: none!important;}
.inHeader{background: url("http://2016.sanjose.wordcamp.org/files/2016/08/Costa-Rica-inner-1.jpg") no-repeat; height: 300px; width: 100%;}

#after-header-widgets .textwidget{margin: -20px -40px 0;}
#masthead .site-navigation{background: url("http://2016.sanjose.wordcamp.org/files/2016/08/wordCampCR.png") 40px 17px no-repeat; min-height: 90px;}
.site-header .menu-toggle {
    position: absolute;
    top: 2rem;
    font-size: 0!important;
    height: 19px;
    width: 29px;
    right: 1.25rem;background: url('http://2016.sanjose.wordcamp.org/files/2016/08/icon-burger-black.png');
}
.site-header .menu-toggle :hover{-webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;background: url('http://2016.sanjose.wordcamp.org/files/2016/08/icon-burger-x.png')!important;
}
.site-header .toggled-on {
    position: absolute;
    top: 1.8rem;
    font-size: 0!important;
    height: 29px;
    width: 29px;z-index: 99;
    right: 1.25rem;background: url('http://2016.sanjose.wordcamp.org/files/2016/08/icon-burger-x.png')!important;
}
.site-header .toggled-on :hover{transform: rotate(90deg);}

/*////// home slider///////*/
/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
.container {
    position: relative;
    text-align: center;
}

.clr {
    clear: both;
}
.slider {
    width: 104%;
    height: 650px;
    margin: -80px 0 0 -40px;
    position: absolute;
    background: #fff url("https://2016.sanjose.wordcamp.org/files/2016/08/Costa-Rica-San-Jose-View.jpg") no-repeat scroll 0px 0px
}
.slide1,.slide2,.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background-image: url('https://2016.sanjose.wordcamp.org/files/2016/08/cr-city-wordcamp.jpg');
      background-size: cover;
    animation:fade 50s infinite;
    -webkit-animation:fade 50s infinite;

} 
.slide2 {
  background-image: url('https://2016.sanjose.wordcamp.org/files/2016/08/cr-beach-wordcamp.jpg');
      background-size: cover;
    animation:fade2 50s infinite;
    -webkit-animation:fade2 50s infinite;
}
.slide3 {
    background-image: url('https://2016.sanjose.wordcamp.org/files/2016/08/cr-jungle-wordcamp.jpg');
      background-size: cover;
    animation:fade3 50s infinite;
    -webkit-animation:fade3 50s infinite;
}


@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}
.containerSlide > header {
    padding: 30px 20px 10px 20px;
    margin: 0 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}

.containerSlide header {
    max-width: 750px;
    margin: 80px auto 0;
}

.containerSlide .logo {
    float: left;
}

.containerSlide .slideText {
    float: left;
    width: 500px;
    margin: 35px 0 0 10px;
}

.containerSlide > header img {
    margin: 10px 20px 10px 0;
    width: 200px;
}

.containerSlide > header h1 {
    font-family: 'Oswald', arial, helvetica!important;
    font-size: 38px!important;
    position: relative;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    padding: 0 0 10px;
    margin: 0;
}


.containerSlide h2 {
    font-size: 18px!important;
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    margin: 5px 0;
}

.containerSlide p {
    font-size: 15px!important;
    line-height: 20px!important;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

/* Header Style */
/* Media Queries */
@media screen and (max-width: 767px) {
    .containerSlide > header {
        text-align: center;
    }
    
    p.codrops-demos {
        position: relative;
        top: auto;
        left: auto;
    }
    .containerSlide .logo{float: none!important; text-align: center;}
    .containerSlide .logo img{width: 120px;}
    .containerSlide .slideText{float: center; text-align: center; margin-left: 0;margin-top: 20px;width: auto;}
    .containerSlide > header h1{font-size: 26px!important;}
    .containerSlide > header{padding-top: 0!important;}
}


@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 50px;
    }
    .footer-widgets-block{display:none;}
    .home .category-news{width: 98%!important; background: #fff; margin:1%!important;float: left; padding:10px!important;border: solid 1px #ff7b6f!important; }
    .sub-menu{margin: 10px 0 0 -10px;}
}
.footer-widgets-block{width: 23%; margin: 1%; float: left;}
.sub-menu .menu-item a{ padding: 7px 15px!important; text-align: left;}
.wp-caption-text{display: none;}
.home .category-news{width: 48%; margin:1%!important;float: left; position: relative; padding:10px!important;border: solid 1px #ff7b6f!important; }
body #secondary::before {
    background-color: #fff;
    color: #c63025;
    content: "Sponsors";
    display: inline-block;
    font-family: "Libre Franklin",sans-serif;
    font-size: 34px;
    font-weight: 600;
    left: 0;
    letter-spacing: 1px;
    line-height: 34px;
    padding: 0 40px 0 0;
    position: relative;
    text-transform: uppercase;
    top: -15px;
    z-index: 2;
}
body #secondary::after {
    background-color: #e8e8e8;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    top: 17px;
    position: absolute;
    width: 100%;
    z-index: 1
}
body.blog #page .entry-header, body.archive #page .entry-header {
    background: rgba(198, 48, 38, 0.95) none repeat scroll 0 0;
    box-shadow: -1px 3px 4px #333;
    height: auto;
    left: -5px;
    margin: 11px 0 0 3px;
    padding: 5px 15px 5px 10px;
    position: absolute;
    text-align: left;
    top: 1px;
    width: 101%;
}
.home .entry-header h1 {
    font-family: "Libre Franklin",sans-serif;
    font-size: 22px;}
    
#page .entry-header h1 {
    color: #c63025;
    font-family: "Libre Franklin",sans-serif;
    font-size: 30px;
    font-weight: 500;
    left: 0;
    letter-spacing: 1px;
    line-height: 34px;
    padding: 0 30px 0 0;
    text-align: left
}
#nav-bottom{clear:both;}
#footer-widgets h1{color:#fff!important;}
.fb-page{border-radius: 3px;}
.platino img{ width: 30%; float: left; }
.oro img{width: 25%;float: left;}
.plata img{width: 20%;float: left;}
.bronce img{width: 15%;float: left;}
